html, body {
    width: 100%; height: 100%; margin: 0; padding: 0; overflow: hidden;
    font-family: Verdana;
    font-size: 14px;
    background: black;
}

p {
    margin-bottom: 1em;
}

#cesiumContainer {
    position: absolute;
    left: 250px;
    top: 0;
    right: 0;
    bottom: 0;
}

#overlays {
    background-color: #ccc;
    position: absolute;
    width: 250px;
    top: 0;
    left: 0;
    bottom: 0;
    overflow-y: auto;
}

.legend {
    font-size: 10px;
}

#facets {
    margin-left: 5px;
}

.facet {
    margin-bottom: 5px;
}

#tooltip {
    border-top: 2px solid black;
    padding-top: 10px;
}

.tooltip-item {
    margin: 0 0 10px 0;
}

.tooltip-item h3 {
    margin-bottom: 1em;
}

.tooltip-item h3, .tooltip-item .connector {
    cursor: pointer;
    color: #900;
}

.hidden {
    display: none;
}

#totalPoints, #facets, #tooltip {
    margin: 10px;
}

#overlays label, #overlays select {
    display: block;
}

#overlays select, #overlays input {
    font-size: 14px;
    font-family: Verdana;
    width: 220px;
}
