@charset "UTF-8";
@font-face {
  font-family: "kievit font";
  font-style: normal;
  font-weight: 800;
  src: url("http://ux-static.nypl.org.s3-website-us-east-1.amazonaws.com/ff_kievit_web/KievitWeb-Book.woff") format("woff"); }
@font-face {
  font-family: "milo font";
  font-style: normal;
  font-weight: 800;
  src: url("http://ux-static.nypl.org.s3-website-us-east-1.amazonaws.com/milo-web/milo-slab-pro-medium/MiloSlabWebPro-Medium.woff") format("woff"); }
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

@font-face {
  font-family: "nyplicons";
  src: url("../font/icomoon.eot");
  src: url("../font/icomoon.eot?#iefix") format("embedded-opentype"), url("../font/icomoon.svg#icomoon") format("svg"), url("../font/icomoon.woff") format("woff"), url("../font/icomoon.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
/* -------------------------------------------------------------
  Sass CSS3 Mixins! The Cross-Browser CSS3 Sass Library
  By: Matthieu Aussaguel, http://www.mynameismatthieu.com, @matthieu_tweets

  List of CSS3 Sass Mixins File to be @imported and @included as you need

  The purpose of this library is to facilitate the use of CSS3 on different browsers avoiding HARD TO READ and NEVER
  ENDING css files

  note: All CSS3 Properties are being supported by Safari 5
  more info: http://www.findmebyip.com/litmus/#css3-properties

  Mixins available:
    -   background-gradient     - arguments: Start Color: #3C3C3C, End Color: #999999
    -   background-size         - arguments: Width: 100%, Height: 100%
    -   border-radius           - arguments: Radius: 5px
    -   border-radius-separate  - arguments: Top Left: 5px, Top Right: 5px, Bottom Left: 5px, Bottom Right: 5px
    -   box                     - arguments: Orientation: horizontal, Pack: center, Align: center
    -   box-rgba                - arguments: R: 60, G: 3, B: 12, Opacity: 0.23, Color: #3C3C3C
    -   box-shadow              - arguments: X: 2px, Y: 2px, Blur: 5px, Color: rgba(0,0,0,.4)
    -   box-sizing              - arguments: Type: border-box
    -   columns                 - arguments: Count: 3, Gap: 10
    -   double-borders          - arguments: Color One: #3C3C3C, Color Two: #999999, Radius: 0
    -   flex                    - arguments: Value: 1
    -   flip                    - arguments: ScaleX: -1
    -   font-face               - arguments: Font Family: myFont, Eot File Src: myFont.eot, Woff File Src: myFont.woff, Ttf File Src: myFont.ttf
    -   opacity                 - arguments: Opacity: 0.5
    -   outline radius          - arguments: Radius: 5px
    -   resize                  - arguments: Direction: both
    -   rotate                  - arguments: Degree: 0, M11: 0, M12: 0, M21: 0, M22: 0
    CSS Matrix Rotation Calculator http://www.boogdesign.com/examples/transforms/matrix-calculator.html
    -   text-shadow             - arguments: X: 2px, Y: 2px, Blur: 5px, Color: rgba(0,0,0,.4)
    -   transform               - arguments: Parameters: null
    -   transition              - arguments: What: all, Length: 1s, Easing: ease-in-out
    -   triple-borders          - arguments: Color One: #3C3C3C, Color Two: #999999, Color Three: #000000, Radius: 0

------------------------------------------------------------- */
/* BACKGROUND GRADIENT */
/* BACKGROUND SIZE */
/* BORDER RADIUS */
/* BOX */
/* BOX RGBA */
/* BOX SHADOW */
/* BOX SHADOW INSET */
/* BOX SIZING */
/* COLUMNS */
/* DOUBLE BORDERS */
/* FLEX */
/* FLIP */
/* FONT FACE */
/* OPACITY */
/* OUTLINE RADIUS */
/* RESIZE */
/* ROTATE*/
/* TEXT SHADOW */
/* TRANSFORM  */
/* TRANSITION */
/* TRIPLE BORDERS */
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: #444;
  line-height: normal; }

/* map stuff */
#cesiumContainer {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0; }

#map-header {
  margin: 10px; }

#overlays {
  background-color: #aaa;
  color: #444;
  position: absolute;
  width: 300px;
  top: 10px;
  left: 10px;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  border-radius: 3px;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-in;
  -moz-transition-timing-function: ease-in;
  transition-timing-function: ease-in; }
  #overlays.minimized {
    width: 100px;
    height: 60px;
    cursor: pointer;
    overflow-y: hidden; }
    #overlays.minimized #slogan, #overlays.minimized #facets, #overlays.minimized #tooltip, #overlays.minimized #overlay-minimize {
      display: none; }

#overlay-minimize {
  cursor: pointer; }

.legend {
  font-size: 0.9em;
  position: absolute;
  left: 320px;
  bottom: 10px;
  color: #efefef;
  text-shadow: -1px 1px 0px #444;
  -webkit-transition-property: left;
  -moz-transition-property: left;
  transition-property: left;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-in;
  -moz-transition-timing-function: ease-in;
  transition-timing-function: ease-in; }
  .legend.minimized {
    left: 10px; }
  .legend li {
    margin-bottom: 1em; }
    .legend li .color {
      display: inline-block;
      width: 20px;
      height: 20px;
      margin-right: 10px;
      border-radius: 10px;
      vertical-align: middle; }

#total-points {
  position: absolute;
  left: 320px;
  top: 10px;
  max-width: 500px;
  text-shadow: -1px 1px 0px #444;
  color: #aaa;
  font-size: 1em;
  margin-bottom: 10px;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-in;
  -moz-transition-timing-function: ease-in;
  transition-timing-function: ease-in; }
  #total-points.minimized {
    left: 120px; }
  #total-points em {
    font-style: normal;
    color: #efefef; }
  #total-points .number {
    color: #efefef;
    font-size: 3em; }

.biz.color {
  background-color: #ff7f02; }

.born.color {
  background-color: #4cad49; }

.died.color {
  background-color: #357cb7; }

.active.color {
  background-color: #e21919; }

.hidden {
  display: none; }

.hl, .link {
  color: #900; }

.link {
  cursor: pointer; }

.more span {
  display: block;
  text-align: center;
  padding: 10px;
  background: #900;
  color: #efefef;
  border-radius: 3px; }

#facets, #tooltip {
  margin: 10px; }

#facets-clear {
  cursor: pointer; }

#facets {
  margin-left: 10px; }
  #facets label {
    display: block;
    clear: both; }
  #facets .icon.query {
    content: attr(data-icon);
    content: "";
    font-family: "nyplicons";
    display: inline-block;
    width: auto;
    height: auto;
    vertical-align: baseline;
    background: none;
    margin-top: 0;
    speak: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-transform: none;
    font-weight: normal;
    font-variant: normal;
    display: block;
    background-size: 100%;
    cursor: pointer;
    font-size: 30px;
    float: right;
    margin-right: 10px; }
  #facets span, #facets .text {
    font-size: 1em;
    font-family: "kievit font", "Helvetica Neue", Helvetica, Arial, sans-serif;
    width: 210px;
    padding: 5px; }
  #facets .date.text {
    width: 60px; }
  #facets .facet-header {
    cursor: pointer; }
    #facets .facet-header:before {
      content: attr(data-icon);
      content: "";
      font-family: "nyplicons";
      display: inline-block;
      width: auto;
      height: auto;
      vertical-align: baseline;
      background: none;
      margin-top: 0;
      speak: none;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      text-transform: none;
      font-weight: normal;
      font-variant: normal;
      display: inline-block;
      background-size: 100%;
      margin-right: 5px;
      position: relative;
      top: 2px; }
    #facets .facet-header.open:before {
      -webkit-transform: rotateZ(90deg) translateY(-1px) translateX(-1px);
      -moz-transform: rotateZ(90deg) translateY(-1px) translateX(-1px);
      transform: rotateZ(90deg) translateY(-1px) translateX(-1px); }
  #facets .facet-group {
    display: none; }
    #facets .facet-group.open {
      display: block; }
  #facets .facet-header, #facets .facet-item {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap; }
  #facets .facet-item {
    padding: 5px;
    padding-left: 20px; }
    #facets .facet-item:hover {
      background: #444;
      color: #efefef; }
    #facets .facet-item.active {
      font-weight: bold; }
      #facets .facet-item.active:before {
        content: "✓";
        display: inline-block;
        margin-left: -15px;
        width: 15px; }
  #facets .facet {
    margin-bottom: 10px; }
    #facets .facet::after {
      clear: both;
      content: "";
      display: table; }
    #facets .facet.disabled {
      color: #777777; }
  #facets .timeline::after {
    clear: both;
    content: "";
    display: table; }
  #facets .date-field {
    float: left;
    margin-right: 10px; }
    #facets .date-field label {
      display: inline-block; }

#tooltip {
  border-top: 2px solid #444;
  padding-top: 10px; }
  #tooltip .tooltip-item {
    margin: 0 0 20px 0; }
    #tooltip .tooltip-item h3 {
      margin-bottom: 10px;
      cursor: pointer;
      color: #900; }
      #tooltip .tooltip-item h3:before {
        content: attr(data-icon);
        content: "";
        font-family: "nyplicons";
        display: inline-block;
        width: auto;
        height: auto;
        vertical-align: baseline;
        background: none;
        margin-top: 0;
        speak: none;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-transform: none;
        font-weight: normal;
        font-variant: normal;
        display: inline-block;
        background-size: 100%;
        margin-right: 5px;
        position: relative;
        top: 2px;
        width: 20px;
        float: left;
        margin-right: 10px; }
      #tooltip .tooltip-item h3.open:before {
        -webkit-transform: rotateZ(90deg) translateY(-1px) translateX(-1px);
        -moz-transform: rotateZ(90deg) translateY(-1px) translateX(-1px);
        transform: rotateZ(90deg) translateY(-1px) translateX(-1px); }
      #tooltip .tooltip-item h3 .title {
        display: block;
        float: left;
        width: 230px; }
      #tooltip .tooltip-item h3 .subtitle {
        font-size: 0.8em;
        font-weight: normal;
        display: block;
        line-height: 1.5em;
        margin-left: 30px; }
  #tooltip .tooltip-content {
    margin: 0 -10px 20px;
    padding-left: 2em; }
    #tooltip .tooltip-content p {
      margin-left: 7px; }
  #tooltip .link-list {
    margin-bottom: 1em;
    margin-left: 7px; }
    #tooltip .link-list li {
      margin-bottom: 0.5em; }
      #tooltip .link-list li:after {
        content: attr(data-icon);
        content: "";
        font-family: "nyplicons";
        display: inline-block;
        width: auto;
        height: auto;
        vertical-align: baseline;
        background: none;
        margin-top: 0;
        speak: none;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-transform: none;
        font-weight: normal;
        font-variant: normal;
        font-size: 0.7em;
        margin-left: 3px;
        vertical-align: super; }

.addresses {
  background: #efefef;
  padding: 10px;
  padding-left: 40px;
  margin-left: -2em; }
  .addresses .address-item {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #aaa; }
    .addresses .address-item:last-child {
      border-bottom: none; }
  .addresses .address-item-content {
    margin-left: 10px; }

#hover {
  width: 300px;
  position: absolute;
  background: #efefef;
  padding: 10px;
  left: -1000px;
  top: -1000px;
  text-align: center; }
  #hover .geoname {
    white-space: nowrap; }
  #hover .hits {
    font-weight: bold; }

#feedback {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 11111;
  background: white;
  width: 300px;
  right: -301px;
  font-size: 16px;
  border: 1px solid #aaa;
  border-right: none;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out; }
  @media print {
    #feedback {
      display: none; } }
  @media screen and (min-width: 0px) and (max-width: 525px) {
    #feedback {
      position: fixed;
      width: 100%;
      right: auto;
      bottom: -275px; } }
  #feedback.preload {
    right: -500px; }
    @media screen and (min-width: 0px) and (max-width: 525px) {
      #feedback.preload {
        right: auto;
        bottom: -325px; } }
  #feedback.open {
    right: 0; }
    @media screen and (min-width: 0px) and (max-width: 525px) {
      #feedback.open {
        right: auto;
        bottom: 0; } }
  #feedback #feedback-toggle {
    position: absolute;
    right: 300px;
    bottom: -1px;
    background-color: #aaa;
    color: #efefef; }
    @media screen and (min-width: 0px) and (max-width: 525px) {
      #feedback #feedback-toggle {
        position: static;
        width: 100%;
        text-align: center;
        bottom: -275px; } }
    #feedback #feedback-toggle a {
      display: none;
      padding: 10px 30px; }
      #feedback #feedback-toggle a.visible {
        display: block; }
      #feedback #feedback-toggle a.close {
        padding: 10px 50px;
        white-space: nowrap; }
      @media screen and (min-width: 0px) and (max-width: 525px) {
        #feedback #feedback-toggle a {
          font-size: 14px;
          padding: 3px; } }
  #feedback #feedback-form {
    margin: 10px; }
    #feedback #feedback-form h2 {
      font-size: 20px;
      margin: 0; }
    #feedback #feedback-form ul {
      margin-bottom: 5px; }
      #feedback #feedback-form ul li {
        display: inline-block;
        margin-right: 10px; }
    #feedback #feedback-form .button {
      padding: 10px 20px;
      margin: 5px 0;
      display: inline-block;
      background-color: #900;
      color: #efefef; }
    #feedback #feedback-form input.textfield {
      font-size: 1em;
      font-family: "kievit font", "Helvetica Neue", Helvetica, Arial, sans-serif;
      border: 1px solid #aaa;
      padding: 10px;
      margin: 5px 0;
      width: 258px;
      display: inline-block; }
    #feedback #feedback-form textarea {
      font-size: 1em;
      resize: none;
      padding: 10px 10px 0 10px;
      width: 258px;
      height: 90px;
      border: 1px solid #aaa;
      border-bottom: none;
      margin-bottom: 0;
      font-family: "kievit font", "Helvetica Neue", Helvetica, Arial, sans-serif; }
      #feedback #feedback-form textarea.error {
        color: #900; }
    #feedback #feedback-form #feedback-counter {
      color: #aaa;
      text-align: right;
      padding: 0 10px 10px 10px;
      width: 258px;
      border: 1px solid #aaa;
      border-top: none; }
    #feedback #feedback-form .controls {
      text-align: right; }
  #feedback #feedback-wait {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.75);
    color: #efefef;
    text-align: center;
    line-height: 260px; }
    #feedback #feedback-wait .spinner {
      left: 50%;
      top: -100px; }
  #feedback #feedback-thanks {
    height: 100px;
    margin-top: 10px; }
  #feedback .step2 {
    display: none; }

/*# sourceMappingURL=pic.css.map */
