@import "bourbon/bourbon";
@import "css3-mixins.scss";

@font-face{
    font-family:"nypl font";
    font-style:normal;
    font-weight:800;
    src:url("http://ux-static.nypl.org.s3-website-us-east-1.amazonaws.com/ff_kievit_web/KievitWeb-Book.woff") format('woff');}

$font: "nypl font", Helvetica, Arial, sans-serif;
$columnWidth: 300px;
$columnMargin: 30px;
$generalMargin: 10px;
$facetMargin: 5px;
$white: #efefef;
$gray: #aaa;
$black: #444;
$linkColor: #900;
$minimizedWidth: 100px;
$minimizedHeight: 60px;
$iconSize: 30px;

html, body {
    width: 100%; height: 100%; margin: 0; padding: 0; overflow: hidden;
    font-family: $font;
    font-size: 16px;
    background: $black;
}

a:link {
    color: $linkColor;
    text-decoration: none;
}

a:visited {
    color: darken($linkColor, 10%);
}

p {
    margin-bottom: 1em;
    margin-right: $generalMargin;
}

#cesiumContainer {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

#header {
    margin: $generalMargin;
}

#overlays {
    background-color: $gray;
    color: $black;
    position: absolute;
    width: $columnWidth;
    top: $generalMargin;
    left: $generalMargin;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    border-radius: 3px;

    @include transition-property(all);
    @include transition-duration(0.2s);
    @include transition-timing-function(ease-in);

    &.minimized {
        width: $minimizedWidth;
        height: $minimizedHeight;
        cursor: pointer;
        overflow-y: hidden;

        #slogan, #facets, #tooltip, #overlay-minimize {
            display: none;
        }
    }
}

#overlay-minimize {
    cursor: pointer;
}

// @include keyframes(popIn) {
//   0% {
//     @include transform(rotateZ(-200deg) scale(0));
//   }
//   90% {
//     @include transform(rotateZ(-20deg) scale(1.2));
//   }
//   100% {
//     @include transform(rotateZ(-20deg) scale(1));
//   }
// }
// @include animation(popIn);

#acronym {
    display: inline-block;

    &:before {
        @include drr-icon('N');
        vertical-align: bottom;
    }
}

#slogan {
    margin-left: 33px;
}

.legend {
    font-size: 0.9em;
    position: absolute;
    left: $columnWidth + ($generalMargin * 2);
    bottom: $generalMargin;
    color: $white;
    @include text-shadow(-1px, 1px, 0px, $black);
    // text-transform: uppercase;

    @include transition-property(left);
    @include transition-duration(0.2s);
    @include transition-timing-function(ease-in);

    &.minimized {
        left: $generalMargin;
    }

    li {
        margin-bottom: 1em;

        .color {
            display: inline-block;
            width: 20px;
            height: 20px;
            margin-right: $generalMargin;
            border-radius: 10px;
            vertical-align: middle;
        }
    }
}

#total-points {
    position: absolute;
    left: $columnWidth + ($generalMargin * 2);
    top: $generalMargin;
    max-width: 500px;
    @include text-shadow(-1px, 1px, 0px, $black);
    color: $white;
    font-size: 1em;
    margin-bottom: $generalMargin;

    @include transition-property(all);
    @include transition-duration(0.2s);
    @include transition-timing-function(ease-in);

    &.minimized {
        left: $generalMargin + $minimizedWidth + $generalMargin;
    }

    .number {
        font-size: 3em;
    }
}


.biz.color {
    background-color: rgba(255, 127, 2, 1);
}

.born.color {
    background-color: rgba(76, 173, 73, 1);
}

.died.color {
    background-color: rgba(53, 124, 183, 1);
}

.active.color {
    background-color: rgba(226, 25, 25, 1);
}

.hidden {
    display: none;
}

.hl, .link {
    color: $linkColor;
}

.link {
    cursor: pointer;
}

.more span {
    display: block;
    text-align: center;
    padding: $generalMargin;
    background: $linkColor;
    color: $white;
    border-radius: 3px;
}

#facets, #tooltip {
    margin: $generalMargin;
}

#facets-clear {
    cursor: pointer;
}

#facets {
    margin-left: $generalMargin;

    label {
        display: block;
        clear: both;
    }

    .icon.query {
        @include drr-icon('');
        display: block;
        background-size: 100%;
        cursor: pointer;
        font-size: $iconSize;
        float: right;
        margin-right: $generalMargin;
    }

    span, .text {
        font-size: 1em;
        font-family: $font;
        width: $columnWidth - ($columnMargin * 2) - $iconSize;
        padding: $facetMargin;
    }

    .date.text {
        width: 60px;
    }

    .facet-header {
        cursor: pointer;

        &:before {
            @include drr-icon('');
            display: inline-block;
            background-size: 100%;
            margin-right: $facetMargin;
            position: relative;
            top: 2px;
        }

        &.open:before {
            @include transform(rotateZ(90deg) translateY(-1px) translateX(-1px));
        }

    }

    .facet-group {
        display: none;

        &.open {
            display: block;
        }
    }

    .facet-header, .facet-item {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }

    .facet-item {
        padding: $facetMargin;
        padding-left: $generalMargin*2;

        &:hover {
            background: $black;
            color: $white;
        }

        &.active {
            font-weight: bold;

            &:before {
                content: "✓";
                display: inline-block;
                margin-left: -1 * $columnMargin * .5;
                width: $columnMargin * .5;
            }
        }
    }

    .facet {
        @include clearfix;
        margin-bottom: $generalMargin;

        &.disabled {
            color: lighten($black, 20%);
        }
    }

    .timeline {
        @include clearfix;
    }

    .date-field {
        float: left;
        margin-right: $generalMargin;

        label {
            display: inline-block;
        }
    }

}

#tooltip {
    border-top: 2px solid $black;
    padding-top: $generalMargin;

    .tooltip-item {
        margin: 0 0 ($generalMargin * 2) 0;

        h3 {
            margin-bottom: 0;
            cursor: pointer;
            color: $linkColor;

            &:before {
                @include drr-icon('');
                display: inline-block;
                background-size: 100%;
                margin-right: $facetMargin;
                position: relative;
                top: 2px;
            }

            &.open:before {
                @include transform(rotateZ(90deg) translateY(-1px) translateX(-1px));
            }

            .title {
                display: block;
                float: right;
                width: $columnWidth - $columnMargin - $generalMargin - $facetMargin;
            }

            .subtitle {
                font-size: 0.8em;
                font-weight: normal;
                display: block;
                line-height: 1.5em;
                margin-left: 1.7em;
            }
        }
    }

    .tooltip-content {
        margin: 0 (-1 * $generalMargin) ($generalMargin * 2);
        padding-left: 2em;
    }

    .link-list {
        margin-bottom: 1em;

        li {
            margin-bottom: 0.5em;

            &:after {
                @include drr-icon('');
                font-size: 0.7em;
                margin-left: 3px;
                vertical-align: super;
            }
        }

    }

}

.addresses {
    background: $white;
    padding: $generalMargin;
    padding-left: 2em;
    margin-left: -2em;

    .address-item {
        margin-bottom: $generalMargin;
        padding-bottom: $generalMargin;
        border-bottom: 1px solid $gray;

        &:last-child {
            border-bottom: none;
        }
    }

    .address-item-type {
    }

    .address-item-content {
        margin-left: $generalMargin;
    }
}

#hover {
    width: $columnWidth;
    position: absolute;
    background: $white;
    padding: $generalMargin;
    left: -1000px;
    top: -1000px;
    text-align: center;

    .geoname {
        white-space: nowrap;
    }

    .hits {
        font-weight: bold;
    }
}
