@import "bourbon/bourbon";
@import "css3-mixins.scss";

@font-face{
    font-family:"nypl font";
    font-style:normal;
    font-weight:800;
    src:url("http://ux-static.nypl.org.s3-website-us-east-1.amazonaws.com/ff_kievit_web/KievitWeb-Book.woff") format('woff');}

$font: "nypl font", Helvetica, Arial, sans-serif;
$columnWidth: 300px;
$columnMargin: 30px;
$generalMargin: 10px;
$facetMargin: 5px;
$white: #efefef;
$gray: #aaa;
$black: #444;
$linkColor: #900;
$minimizedWidth: 70px;
$minimizedHeight: 70px;

html, body {
    width: 100%; height: 100%; margin: 0; padding: 0; overflow: hidden;
    font-family: $font;
    font-size: 16px;
    background: $black;
}

p {
    margin-bottom: 1em;
}

#cesiumContainer {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

#header {
    margin: $generalMargin;
}

#overlays {
    background-color: $gray;
    color: $black;
    position: absolute;
    width: $columnWidth;
    top: $generalMargin;
    left: $generalMargin;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;

    &.minimized {
        width: $minimizedWidth;
        height: $minimizedHeight;
        cursor: pointer;
        overflow-y: hidden;

        #slogan, #facets, #tooltip, #overlay-minimize {
            display: none;
        }
    }
}

#overlay-minimize {
    cursor: pointer;
}

// @include keyframes(popIn) {
//   0% {
//     @include transform(rotateZ(-200deg) scale(0));
//   }
//   90% {
//     @include transform(rotateZ(-20deg) scale(1.2));
//   }
//   100% {
//     @include transform(rotateZ(-20deg) scale(1));
//   }
// }
// @include animation(popIn);

#acronym {
    display: inline-block;
}

.legend {
    font-size: 0.9em;
    position: absolute;
    left: $columnWidth + ($generalMargin * 2);
    bottom: $generalMargin;
    color: $white;
    @include text-shadow(-1px, 1px, 0px, $black);
    // text-transform: uppercase;

    &.minimized {
        left: $generalMargin;
    }

    li {
        margin-bottom: 1em;

        .color {
            display: inline-block;
            width: 20px;
            height: 20px;
            margin-right: $generalMargin;
            border-radius: 10px;
            vertical-align: middle;
        }
    }
}

#total-points {
    position: absolute;
    left: $columnWidth + ($generalMargin * 2);
    top: $generalMargin;
    max-width: 500px;
    @include text-shadow(-1px, 1px, 0px, $black);
    color: $white;
    font-size: 1em;
    margin-bottom: $generalMargin;

    .number {
        font-size: 3em;
    }
}


.biz.color {
    background-color: rgba(255, 127, 2, 1);
}

.born.color {
    background-color: rgba(76, 173, 73, 1);
}

.died.color {
    background-color: rgba(53, 124, 183, 1);
}

.active.color {
    background-color: rgba(226, 25, 25, 1);
}

.hidden {
    display: none;
}

.hl, .link {
    color: $linkColor;
}

.link {
    cursor: pointer;
}

#facets, #tooltip {
    margin: $generalMargin;
}

#facets-clear {
    cursor: pointer;
}

#facets {
    margin-left: $generalMargin;

    label {
        display: block;
        clear: both;
    }

    span, input {
        font-size: 1em;
        font-family: $font;
        width: $columnWidth - $columnMargin;
    }

    .facet-header {
        cursor: pointer;

        &:before {
            @include drr-icon('');
            width: 10px;
            height: 10px;
            display: inline-block;
            background-size: 100%;
            margin-right: $facetMargin*2;
        }

        &.open:before {
            @include transform(rotateZ(90deg) translateY(-9px) translateX(2px));
        }

    }

    .facet-group {
        display: none;

        &.open {
            display: block;
        }
    }

    .facet-header, .facet-item {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }

    .facet-item {
        padding: $facetMargin;
        padding-left: $generalMargin*2;

        &:hover {
            background: $black;
            color: $white;
        }

        &.active {
            font-weight: bold;

            &:before {
                content: "✓";
                display: inline-block;
                margin-left: -1 * $columnMargin * .5;
                width: $columnMargin * .5;
            }
        }
    }

    .facet {
        margin-bottom: $generalMargin;

        &.disabled {
            color: lighten($black, 20%);
        }
    }

    .timeline {
        @include clearfix;
    }

    .date-field {
        float: left;
        margin-right: $generalMargin;

        label {
            display: inline-block;
        }
    }

    .date-text {
        width: 60px;
    }
}

#tooltip {
    border-top: 2px solid $black;
    padding-top: $generalMargin;

    .tooltip-item {
        margin: 0 0 $generalMargin 0;

        h3 {
            margin-bottom: 1em;
            cursor: pointer;
            color: $linkColor;

            span {
                    font-size: 0.8em;
                    font-weight: normal;
                    display: block;
            }
        }
    }

}

.addresses {
    background: white;
    padding: $generalMargin;
    margin: 0 (-1 * $generalMargin);

    .address-item {
        margin-bottom: $generalMargin;
    }
}

#hover {
    width: $columnWidth;
    position: absolute;
    background: $white;
    padding: $generalMargin;
    left: -1000px;
    top: -1000px;
    text-align: center;

    .geoname {
        white-space: nowrap;
    }

    .hits {
        font-weight: bold;
    }
}
