<div id="footer">
  <p>
    • <a href="http://www.nypl.org/help/about-nypl/legal-notices/privacy-policy">Privacy Policy</a> •
    <a href="http://www.nypl.org/help/about-nypl/legal-notices/rules-and-regulations">Rules and Regulations</a> •<br> • <a href="http://www.nypl.org/help/about-nypl/legal-notices/website-terms-and-conditions">Terms and Conditions</a> •
  </p>

  <p>A project of <a href="http://www.nypl.org/collections/labs">NYPL Labs</a> and the <a href="http://wallachprintsandphotos.nypl.org/">The Miriam and Ira D. Wallach Division of Art, Prints and Photographs</a>.</p>


  <p><a href="http://www.nypl.org" class="nypl" title="Visit NYPL.org"><span class="icon-icon_lion"></span>The New York Public Library</a></p>
  <p>© The New York Public Library, Astor, Lennox, and Tilden Foundation 2015</p>
</div>