        <p class="intro">Photographers’ Identities Catalog (PIC) is a collection of biographical data describing photographers, studios, manufacturers, and others involved in the production of photographic images. Consisting of names, nationalities, dates, locations and more, PIC is a vast and growing resource for the historian, student, genealogist, or any lover of photography's history. The information has been culled from trusted biographical dictionaries, catalogs and databases, and from extensive original research by NYPL Photography Collection staff.</p>

        <a data-no-turbolink href="/map" class="enter-link">Enter PIC</a>

        <p class="intro more">Learn more about PIC below.</p>
