<div id="hero">
<div class="wrapper">
    <h1 id="photographers-identities-catalog">Photographers’ Identities Catalog</h1>
</div>
</div>

<div class="wrapper">

    <div id="intro">
    <%= render :partial => "intro" %>
    </div>
</div>

<div class="wrap-sample" id="samples">
    <div class="wrapper">

        <ul class="main-nav">
            <li class="samples"><a href="#samples">Samples</a></li>
            <li class="faq"><a href="#faq">FAQ</a></li>
            <li class="background"><a href="#background">Background</a></li>
        </ul>

        <h2>Sample Searches</h2>

        <%= render :partial => "samples" %>

    </div>
</div>

<div class="wrap-faq" id="faq">
<div class="wrapper">

<ul class="main-nav">
    <li class="samples"><a href="#samples">Samples</a></li>
    <li class="faq"><a href="#faq">FAQ</a></li>
    <li class="background"><a href="#background">Background</a></li>
</ul>

<h2>Frequently Asked Questions</h2>

<%= render :partial => "faq" %>

</div>
</div>

<div class="wrap-background" id="background">
<div class="wrapper">

<ul class="main-nav">
    <li class="samples"><a href="#samples">Samples</a></li>
    <li class="faq"><a href="#faq">FAQ</a></li>
    <li class="background"><a href="#background">Background</a></li>
</ul>

<h2>Background</h2>

<%= render :partial => "background" %>

</div>
</div>


<div id="footer">
  <p>
    • <a href="http://www.nypl.org/help/about-nypl/legal-notices/privacy-policy">Privacy Policy</a> •
    <a href="http://www.nypl.org/help/about-nypl/legal-notices/rules-and-regulations">Rules and Regulations</a> •<br> • <a href="http://www.nypl.org/help/about-nypl/legal-notices/website-terms-and-conditions">Terms and Conditions</a> •
  </p>

  <p>A project of <a href="http://www.nypl.org/collections/labs">NYPL Labs</a> and the <a href="http://wallachprintsandphotos.nypl.org/">The Miriam and Ira D. Wallach Division of Art, Prints and Photographs</a>.</p>


  <p><a href="http://www.nypl.org" class="nypl" title="Visit NYPL.org"><span class="icon-icon_lion"></span>The New York Public Library</a></p>
  <p>© The New York Public Library, Astor, Lennox, and Tilden Foundation 2015</p>
</div>

<div id="feedback" class="preload"></div>
