@import "neat-helpers";

// Change the grid settings
$column: 90px;
$gutter: 30px;
$grid-columns: 12;
$max-width: 1024px;

// Define your breakpoints
$tablet: new-breakpoint(max-width 1024px 8);
$mobile: new-breakpoint(max-width 640px 4);

