@import "bourbon";
@import "neat";
@import "css3-mixins";
@import "variables";
@import "grid-settings";

html, body {
    width: 100%; height: 100%; margin: 0; padding: 0; overflow: hidden;
    font-size: 16px;
    background: $white;
    line-height: normal;
}

header {
    @include media($tablet) {
        font-size: 12px;
    }
}

#webgl-overlay {
    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;
    right: 0px;
    z-index: 111111;
    background-color: gray;
    text-align: center;
    font-size: 2em;
    // font-family: $headerFont;

    p {
        display: none;
        padding: 10%;
        line-height: 1.2em;

        a.browser {
            @include pic-button(0.7em, $white, $linkColor);
            width: 300px;
            display: inline-block;
            margin: 0 10px 20px 0;
        }
    }
}

/* map stuff */

// override cesium toolbar

.cesium-viewer-toolbar {
    right: 45px;
}

.minimize, .maximize {
    font-size: 1px;
    color: $gray;
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: $gray;
    border-radius: 0 0 0 10px;
    padding: $generalMargin $generalMargin 10px 10px;

    &:before {
        @include drr-icon('\e612');
        font-size: 20px;
        width: 20px;
        height: 20px;
        cursor: pointer;
        color: $black;
    }
}

.maximize {
    &:before {
        @include drr-icon('\e60e');
    }
}

#cesiumContainer .maximize {
    &:before {
        @include drr-icon('\e60d');
    }
}

#cesiumContainer .maximize, #cesiumContainer .minimize {
    background-color: $black;

    &:before, &:before {
        color: $gray;
    }
}

h3 {
    font-family: $bodyFont;
}

hr {
    border: none;
    border-bottom: 1px solid $black;
}

#cesiumContainer {
    background-color: $black;
}

#bounds {
    position: absolute;
    z-index: 11;
    display: none;

    .button {
        display: inline-block;
        width: 100px;
        height: 40px;
        color: $white;
        background-color: $linkColor;
        margin: 10px 0 10px 10px;
        text-align: center;
        line-height: 40px;
        @include border-radius(3px);
        cursor: pointer;

        &.cancel {
            background-color: $darkGray;
        }
    }
}

#cesiumContainer {
    position: absolute;
    left: ($facetsWidth + $resultsWidth);
    width: (100% - $facetsWidth - $resultsWidth);
    top: $headerHeight;
    right: 0;
    bottom: 0;

    @include transition-property(all);
    @include transition-duration(0.2s);
    @include transition-timing-function(ease-in);

    @media screen and (min-width: 0px) and (max-width: $mobile-breakpoint) {
    }

    &.minimized {
        width: $minimizedWidth;
        overflow: hidden;

        #total-points, .legend, #hover {
            display: none;
        }
    }
}

#map-header {
    margin: $generalMargin;
    padding-bottom: $generalMargin;
    border-bottom: 1px solid $darkGray;
}

#facet-container {
    background-color: $gray;
    color: $black;
    position: absolute;
    width: $facetsWidth;
    top: $headerHeight;//$generalMargin;
    left: 0;//$generalMargin;
    bottom: 0;
    @include display(flex);
    @include flex-direction(column);
    // padding-right: $generalMargin;
    // border-radius: 3px;

    @include transition-property(all);
    @include transition-duration(0.2s);
    @include transition-timing-function(ease-in);

    #facets {
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
        @include flex(auto);
        flex: auto;

        h4 {
            margin-bottom: 5px;
            margin-top: 20px;
            text-transform: uppercase;
        }
    }

    &.minimized {
        width: $minimizedWidth;
        overflow: hidden;

        #facets-clear, #slogan, #facets {
            display: none;
        }
    }
}

.legend {
    font-size: 0.9em;
    position: absolute;
    z-index: 1;
    left: $generalMargin;
    bottom: 40px;
    color: $white;
    @include text-shadow(-1px, 1px, 0px, $black);
    background-color: transparentize($black, .25);
    padding: 10px;
    // border: 1px solid $darkGray;
    border-radius: 0px;
    // text-transform: uppercase;

    @include transition-property(left);
    @include transition-duration(0.2s);
    @include transition-timing-function(ease-in);

    &.minimized {
        left: $generalMargin;
    }

    li {
        margin-bottom: 1em;

        &:last-child {
            margin-bottom: 0;
        }

        .color {
            display: inline-block;
            width: 20px;
            height: 20px;
            margin-right: $generalMargin;
            border-radius: 10px;
            vertical-align: middle;
        }
    }
}

#total-points {
    position: absolute;
    z-index: 1;
    left: $generalMargin;
    top: $generalMargin;
    max-width: 75%;
    @include text-shadow(-1px, 1px, 0px, $black);
    color: $gray;
    font-size: 1em;
    margin-bottom: $generalMargin;
    background-color: transparentize($black, .25);
    padding: $generalMargin;

    @include transition-property(all);
    @include transition-duration(0.2s);
    @include transition-timing-function(ease-in);

    &.minimized {
        left: $generalMargin + $minimizedWidth + $generalMargin;
    }

    em {
        font-style: normal;
        color: lighten($linkColor, 20%);
    }

    .number {
        color: $white;
        font-size: 2em;
    }

    .linetext {
        font-size: 0.8em;
        margin-top: 1em;
    }
}


.biz .color {
    background-color: $bizColor;
}

.born .color {
    background-color: $bornColor;
}

.died .color {
    background-color: $diedColor;
}

.active .color {
    background-color: $activeColor;
}

.hidden {
    display: none;
}

.hl, .link {
    color: $linkColor;
}

.link {
    cursor: pointer;

    &.more {
        margin-bottom: 1em;
    }
}

.gh-link {
    margin-top: 2em;
    font-size: 0.8em;
}

.more span {
    @include pic-button(1em, $white, $linkColor);
    max-width: 200px;
    margin: 0 auto;
}

#facets-clear {
    @include pic-button(0.8em, $white, $linkColor);
    max-width: 140px;
    margin: 10px auto;

    &.disabled {
        // margin-left: -100000px;
        background-color: $darkGray;
        cursor: default;
    }
}

#facets {
    margin: $generalMargin;

    label {
        display: block;
        clear: both;
        text-transform: uppercase;
    }

    .icon.query {
        @include drr-icon('');
        display: block;
        background-size: 100%;
        background-color: $gray;
        cursor: pointer;
        font-size: $iconSize;
        position: absolute;
        right: 0;
        top: 14px;
        padding-left: $generalMargin;
    }

    span, .text {
        font-size: 1em;
        font-family: $bodyFont;
        width: 100%;
        padding: $facetMargin;
    }

    .date.text {
        width: 60px;
    }

    .facet-header {
        cursor: pointer;

        &:before {
            @include drr-icon('');
            display: inline-block;
            background-size: 100%;
            margin-right: $facetMargin;
            position: relative;
            top: 2px;
        }

        &.open:before {
            @include transform(rotateZ(90deg) translateY(-1px) translateX(-1px));
        }

    }

    .facet-group {
        max-height: 0;
        opacity: 0;
        overflow: hidden;
        @include transition-property(all);
        @include transition-duration(0.15s);
        @include transition-timing-function(ease-in);

        &.open {
            opacity: 1;
            max-height: 10000px;
        }
    }

    .facet-header, .facet-item {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }

    .facet-item {
        padding: $facetMargin;
        padding-left: $generalMargin*2;

        span {
            font-size: 0.7em;
            color: $black;
        }

        &:hover {
            background: $black;
            color: $white;

            span {
                color: $white;
            }
        }

        &.active {
            font-weight: bold;

            &:before {
                content: "✓";
                display: inline-block;
                margin-left: -1 * $columnMargin * .5;
                width: $columnMargin * .5;
            }
        }
    }

    .facet {
        @include clearfix;
        margin-bottom: $generalMargin;
        position: relative;

        &.disabled {
            color: lighten($black, 20%);
        }
    }

    .timeline {
        @include clearfix;
    }

    .date-field {
        float: left;
        margin-right: $generalMargin;

        label {
            display: inline-block;
        }
    }

}

.scroller {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

#constituents {
    position: absolute;
    left: $facetsWidth;
    width: $resultsWidth;
    background-color: $darkGray;
    top: $headerHeight;
    bottom: 0;
    border-left: 1px solid $black;
    padding: $generalMargin;

    @include transition-property(all);
    @include transition-duration(0.2s);
    @include transition-timing-function(ease-in);

    strong {
        font-family: $headerFont;
    }

    .spinner {
        position: absolute;
        left: 50%;
        top: 50%;

        .text {
            font-size: 0.9em;
            position: absolute;
            left: -50px;
            top: -2.5em;
            width: 100px;
            display: block;
            text-align: center;

            em {
                color: $linkColor;
                font-style: normal;
                font-size: 2em;
            }
        }
    }

    .minimize, .maximize {
        background-color: $darkGray;
    }

    &.minimized {
        width: $minimizedWidth;
        overflow: hidden;

        .results, .more {
            display: none;
        }
    }

    .export-links {
        display: block;
        font-size: 0.8em;
        margin: 7px 0;
    }

    .constituent-item {
        margin: 0 0 ($generalMargin * 2) 0;
        padding: 5px 0 0 5px;
        border-radius: 15px 15px 0 0;

        &.open {
            background-color: white;
        }

        h3 {
            margin-bottom: 10px;
            cursor: pointer;
            color: $linkColor;

            &:before {
                @include drr-icon('');
                display: inline-block;
                background-size: 100%;
                margin-right: $facetMargin;
                position: relative;
                top: 2px;
                width: 20px;
                float: left;
            }

            &.open:before {
                @include transform(rotateZ(90deg) translateY(-1px) translateX(-1px));
            }

            .title {
                display: block;
                float: left;
                width: 80%;
                font-family: $headerFont;
            }

            .subtitle {
                font-size: 0.8em;
                font-weight: normal;
                display: block;
                line-height: 1.5em;
                margin-left: 30px;
                clear: both;
            }
        }
    }

    .constituent-content {
        margin: 0 0 ($generalMargin * 2);
        padding-left: 2em;
        border-bottom: 4px solid $black;
        background-color: $linkColor;
        padding-top: 10px;
        position: relative;

        // @include pic-arrow($white);

        p {
            margin-left: 7px;
        }

        .constituent-id {
            color: $white;
            margin-bottom: 7px;
        }

        .constituent-export {
            color: $white;
            display: inline-block;
            margin-top: 10px;
            font-size: 0.8em;

            a {
                color: $white;
                border-bottom: 1px solid $white;
            }
        }

        .constituent-metadata {
            display: none;

            &.open {
                display: block;
            }
        }

        .tabs {
            margin-left: -2em;
            position: relative;
            @include clearfix();

            .address-toggle, .metadata-toggle {
                float: left;
                width: 45%;
                margin-right: 1%;
                margin-left: 3%;
                text-align: center;
                height: 2em;
                line-height: 2em;
                border-radius: 5px 5px 0 0;
                background-color: $darkGray;

                &.active {
                    background-color: white;
                    color: $black;
                }
            }
        }

    }

    .toggle {
        padding: 6px 0em 10px 6px;

        // &:before {
        //     @include drr-icon('');
        //     display: inline-block;
        //     background-size: 100%;
        //     position: relative;
        //     top: -2px;
        //     width: 10px;
        //     float: left;
        //     margin-left: -20px;
        // }

        // &.open:before {
        //     @include transform(rotateZ(90deg) translateY(-3px) translateX(-3px));
        // }
    }

    .link-list {
        margin-bottom: 1em;
        margin-left: 7px;

        li {
            margin-bottom: 0.5em;

            &:after {
                @include drr-icon('');
                font-size: 0.7em;
                margin-left: 3px;
                vertical-align: super;
            }
        }

    }

}

.constituent-metadata, .addresses {
    background-color: white;
    padding: $generalMargin;
    padding-left: 40px;
    margin-left: -2em;
    position: relative;
}

.addresses {
    // @include pic-arrow();
    .address-spinner {
        @include clearfix();
        min-height: 100px;
    }

    .constituent-addresslist {
        display: none;

        &.open {
            display: block;
        }
    }

    .address-item {
        margin-bottom: $generalMargin;
        padding-bottom: $generalMargin;
        border-bottom: 1px solid $gray;

        &:last-child {
            border-bottom: none;
        }
    }

    .address-item-type {
    }

    .address-item-content {
        margin-left: $generalMargin;
    }

    .connector {
        @include pic-button(0.8em, $white, $linkColor);
        margin: 10px 0;
        max-width: 180px;

        &.connected {
            background-color: $darkGray;
        }
    }
}

#hover {
    width: $facetsWidth * 1.5;
    position: absolute;
    z-index: 11111;
    background: white;
    padding: $generalMargin;
    left: -1000px;
    top: -1000px;
    text-align: center;
    border-radius: 2px;
    color: $darkGray;

    strong {
        color: $black;
    }

    .geoname {
        white-space: nowrap;
    }

    .hits {
        color: $black;
        font-size: 2em;
        display: block;
    }
}

.map-help-link {
    position: absolute;
    right: 2em;
}

#map-help {
    display: none;
    position: absolute;
    z-index: 111111;
    width: 350px;
    background-color: $white;
    right: 0;
    padding: 10px;
    height: 60%;

    &:before {
        content: "";
        display: block;
        width: 0;
        height: 0;
        position: absolute;
        right: 2em;
        top: -20px;
        border: 10px solid $white;
        border-left-color: transparent;
        border-right-color: transparent;
        border-top-color: transparent;
    }

    h3 {
        font-family: $headerFont;
    }
}