@import "bourbon";
@import "neat";
@import "css3-mixins";
@import "variables";
@import "grid-settings";

html, body {
    margin: 0 0 100px;
    padding: 0;
    font-family: $bodyFont;
    font-size: 18px;
    line-height: 1.5em;
    background: $white;
}

a:link {
    color: $linkColor;
    text-decoration: none;
}

a:visited {
    color: darken($linkColor, 10%);
}

h3 {
    font-family: $headerFont;
}

p {
    margin-bottom: 1em;
    margin-right: $generalMargin;
}

/* normal site stuff */
@include keyframes(starwars) {
  0% {
    background-position: 50% 300%;
  }
  100% {
    background-position: 50% 0%;
  }
}

#hero {
    background: #000 asset-url("hero-full") no-repeat 50% 300%;
    height: 300px;
    display: flex;
    align-items: flex-end;

    @include animation(starwars 4s .25s forwards);

    h1 {
        width: 1024px;
        margin: 0 auto .7em;
        color: $white;
        font-size: 2.5em;
        @include text-shadow(-2px, 2px, 0px, $black);
    }
}


.wrapper {
    @include outer-container;

    p {
    }
}

.main-header, .intro, .footer {
    @include span-columns(12);
}

.enter-link {
    display: block;
    font-size: 2em;
    padding: 12px 18px;
    margin: 0 auto;
    width: 200px;
    text-align: center;
    border-radius: 4px;
    @include box-shadow(0, 0, 0px, 0, $linkColor);

    @include transition(all, .1s);

    &:link, &:visited {
        background-color: $linkColor;
        color: $white;
    }

    &:hover {
        background-color: $black;
        @include box-shadow(0, 5px, 10px, 0, $linkColor);
        transform: translateY(-5px);
    }
}

#acronym {
    display: inline-block;
    line-height: normal;

    &:before {
        @include drr-icon('N');
        vertical-align: bottom;
    }
}

header {
    background-color: $black;
    height: $headerHeight;
    color: $darkGray;
    padding: 8px;
    display: flex;
    @include flex-direction(row);
    @include align-items(center);
    border-top: 2px solid $nyplRed;

    a:link, a:visited, a:hover {
        color: $white;
    }
}

#nypl {
    @include drr-icon('');
    font-size: 30px;
    color: $white;
    margin-right: 10px;
}

#footer {
  margin: 20em 0 0 0;
  text-align: center;
  font-size: 0.8em;
  line-height: 1.4em;
  color: $darkGray;

  @media screen and (max-width: $mobile-breakpoint) {
    // margin-left: $radius*2;
    // margin-right: $radius*2;
    // text-align: center;
    // background-color: $bubblecolor;
    // border-radius: $radius;
    // padding: $radius;
  }

  p {
    @media screen and (max-width: $mobile-breakpoint) {
      width: auto;
      margin-left: 0;
    }
  }

  .nypl {
    color: $black;
    display: block;
  }

  .icon-icon_lion {
    color: $black;
    display: block;

    &:before {
      @include drr-icon("\4e");
      display: block;
      font-size: 30px;
      margin-bottom: 5px;
    }
  }

}

.locations .map {
    width: 200px;
    height: 200px;
    background-color: $gray;
}

#feedback {
    position: fixed;
    bottom: $feedback-bottom;
    right: 0;
    z-index: 11111;
    background: white;
    width: $feedback-width;
    right: -($feedback-width+1);
    font-size: 16px;
    // line-height: 24px;
    border: 1px solid $gray;
    border-right: none;

    @media print {
        display: none;
    }

    @media screen and (min-width: 0px) and (max-width: $mobile-breakpoint) {
        border-color: $black;
        position: fixed;
        width: 100%;
        right: auto;
        bottom: -$feedback-height;
        height: $feedback-height + $button-height;
    }

    &.preload {
        right: -($feedback-width + $button-width);

        @media screen and (min-width: 0px) and (max-width: $mobile-breakpoint) {
            right: auto;
            bottom: -($feedback-height + $button-height);
        }
    }

    @include transition(all, .2s, ease-out);

    &.open {
        right: 0;

        @media screen and (min-width: 0px) and (max-width: $mobile-breakpoint) {
            right: auto;
            bottom: 0;
        }
    }

    #feedback-toggle {
        position: absolute;
        right: 300px;
        bottom: 0px;
        background-color: $gray;
        color: $white;

        @media screen and (min-width: 0px) and (max-width: $mobile-breakpoint) {
            position: static;
            width: 100%;
            text-align: center;
            height: $button-height;
            padding-top: $button-height * .2;
            // bottom: -$feedback-height;
        }

        a {
            display: none;
            padding: 10px 30px;
            // color: $white;

            &.visible {
                display: block;
            }

            // &.open {
            // }

            &.close {
                // padding: 10px 50px;
                white-space: nowrap;
            }

            // &:hover {
            //  text-decoration: none;
            //  background-color: $white;
            //  color: $gray;
            // }
            @media screen and (min-width: 0px) and (max-width: $mobile-breakpoint) {
             // font-size: 14px;
             padding: 3px; 
            }
        }
    }

    #feedback-form {
        margin: 10px;

        @media screen and (min-width: 0px) and (max-width: $mobile-breakpoint) {
            height: $feedback-height;
        }

        h2 {
            font-size: 20px;
            margin: 0;
        }

        ul {
            margin-bottom: 5px;

            li {
                display: inline-block;
                margin-right: 10px;
            }
        }

        .button {
            padding: 10px 20px;
            margin: 5px 0;
            display: inline-block;
            background-color: $linkColor;
            color: $white;
            // text-transform: uppercase;
        }

        input.textfield {
            font-size: 1em;
            font-family: $bodyFont;
            border: 1px solid $gray;
            padding: 10px;
            margin: 5px 0;
            width: $feedback-width - 42;
            display: inline-block;

            @media screen and (min-width: 0px) and (max-width: $mobile-breakpoint) {
                width: 100%;
            }
        }

        textarea {
            font-size: 1em;
            resize: none;
            padding: 10px 10px 0 10px;
            width: $feedback-width - 42;
            height: 90px;
            border: 1px solid $gray;
            border-bottom: none;
            margin-bottom: 0;
            font-family: $bodyFont;

            @media screen and (min-width: 0px) and (max-width: $mobile-breakpoint) {
                width: 100%;
            }

            &.error {
                color: $linkColor;
            }
        }

        #feedback-counter {
            color: $gray;
            text-align: right;
            padding: 0 10px 10px 10px;
            width: $feedback-width - 42;
            border: 1px solid $gray;
            border-top: none;

            @media screen and (min-width: 0px) and (max-width: $mobile-breakpoint) {
                width: 100%;
                margin-top: -5px;
            }
        }

        .controls {
            text-align: right;
        }
    }

    #feedback-wait {
        display: none;
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        background-color: rgba(0,0,0,0.75);
        color: $white;
        text-align: center;
        line-height: 260px;

        // .spinner {
        //     left: 50%;
        //     top: -100px;
        // }
    }

    #feedback-thanks {
        height: 100px;
        margin-top: 10px;
    }

    .step2 {
        display: none;
    }
}
