@import "bourbon";
@import "neat";
@import "css3-mixins";
@import "variables";
@import "grid-settings";

@include keyframes(starwars) {
  0% {
    background-position: 50% 300%;
  }
  100% {
    background-position: 50% 0%;
  }
}

html, body {
    margin: 0 0 100px;
    padding: 0;
    font-family: $bodyFont;
    font-size: 18px;
    line-height: 1.75em;
    background: $white;
    @include media($tablet) {
        font-size: 24px;
    }
}

a:link {
    color: $linkColor;
    text-decoration: none;
}

a:visited {
    color: darken($linkColor, 10%);
}

h3 {
    font-family: $headerFont;
}

p {
    margin-bottom: 1em;
    margin-right: $generalMargin;
}

/* normal site stuff */
#hero {
    background: #000 asset-url("hero-full") no-repeat 50% 300%;
    height: 300px;
    display: flex;
    align-items: flex-end;

    @include animation(starwars 3s .2s forwards);

    h1 {
        width: 1024px;
        @include shift(1);
        margin-bottom: .7em;
        color: $white;
        font-size: 2.5em;
        @include text-shadow(-2px, 2px, 0px, $black);

        @include media($tablet) {
            width: auto;
            @include shift(0);
            font-size: 1.8em;
            margin-left: 10px;
        }
    }

}

.enter-link {
    display: block;
    font-size: 1.7em;
    padding: 16px 18px 12px;
    margin: 0 auto;
    width: 200px;
    text-align: center;
    border-radius: 60px;
    text-transform: uppercase;
    clear: both;
    // @include box-shadow(0, 0, 0px, 0, $linkColor);

    @include transition(all, .1s);

    @include media($tablet) {
        width: 300px;
    }

    &:link, &:visited {
        background-color: $linkColor;
        color: $white;
    }

    &:hover {
        background-color: $black;
        // @include box-shadow(0, 0, 10px, 0, $linkColor);
        transform: scale(1.2);
    }
}

.wrapper {
    @include outer-container;

    h2 {
        @include span-columns(11);
        @include shift(1);
        font-size: 2em;
        margin-top: 1em;
        margin-bottom: 1em;

        @include media($tablet) {
            font-size: 1.6em;
            margin-bottom: 0.5em;
        }
    }

    p a {
        border-bottom: 3px solid $white;

        &:hover {
            border-color: $linkColor;
        }
    }
}

#intro, #how-to, #faq, #background {
    h3 {
        @include span-columns(10);
        @include shift(1);
    }

    p {
        @include span-columns(10);
        @include shift(1);

        &.intro {
            @include span-columns(10);
            font-size: 1.2em;
            line-height: 1.75em;
            margin-top: 1em;
        }

        &.more {
            text-align: center;
        }
    }

    @include media($tablet) {
        font-size: 0.8em;
        line-height: 1.5em;
    }
}

#samples {
    .cases {
        @include span-columns(10);
        @include shift(1);

        .use-case {
            @include span-columns(5 of 10);
            @include omega(2n);
            margin-bottom: 3em;

            @include media($tablet) {
                @include span-columns(10 of 10);
                font-size: 0.8em;
                line-height: 1.5em;
            }

            img {
                width: 100%;
                border-top: 2px solid white;
            }

            a.sample-link {
                display: block;
                font-size: 1.5em;
                padding: 16px 18px 12px;
                margin: 0 auto;
                width: 140px;
                text-align: center;
                border-radius: 60px;
                text-transform: uppercase;
                clear: both;
                // @include box-shadow(0, 0, 0px, 0, $linkColor);

                @include transition(all, .1s);

                @include media($tablet) {
                    width: 240px;
                }

                &:link, &:visited {
                    background-color: $linkColor;
                    color: $white;
                }

                &:hover {
                    background-color: $black;
                    // @include box-shadow(0, 2px, 4px, 0, $linkColor);
                    transform: scale(1.2);
                }
            }
        }
    }
}


#faq {
    h3 {
        @include span-columns(10);
        @include shift(1);
    }

    p {
        @include span-columns(8);
        @include shift(2);
    }

    ul:last-of-type {
        @include span-columns(8);
        @include shift(2);
        margin-bottom: 1em;

        li {
            list-style: disc;
        }
    }
}

#background {
    .figure {
        @include span-columns(12);
        margin-bottom: 1em;
    }

    img {
        @include span-columns(10);

        @include media($tablet) {
            @include shift(2);
        }
    }

    .caption {
        @include span-columns(2);
        font-family: $headerFont;
        text-align: right;
        font-size: .8em;
        line-height: 1.2em;
        border-top: 1px solid white;
        padding-top: 1em;

        @include media($tablet) {
            @include span-columns(6);
        }
    }

    p {
        @include span-columns(9);
        @include shift(2);
    }

    blockquote {
        @include span-columns(6);
        @include shift(3);
        font-family: $headerFont;
        font-size: 2em;
        line-height: 1.25em;
        margin-bottom: 1em;

        &:before {
            content: "“";
            font-size: 2em;
            color: $white;
            width: .5em;
            display: inline-block;
            margin-left: -.5em;
        }

        @include media($tablet) {
            font-size: 1em;
        }

    }
}

.main-header, .footer {
    @include span-columns(12);
}

.main-nav {
    @include row();

    li {
        @include span-columns(2);
        border-radius: 0 0 6px 6px;
        text-align: center;

        @include media($tablet) {
            @include span-columns(1 of 3);
        }

        &:first-child {
            @include shift(3 of 12);

            @include media($tablet) {
                @include shift(0);
            }
        }

        &.samples {
            background-color: lighten($bornColor, 20%);
        }

        &.faq {
            background-color: lighten($diedColor, 20%);
        }

        &.background {
            background-color: lighten($bizColor, 20%);
        }

        a {
            color: $black;
            display: block;
            padding: 8px 12px 4px;
            text-transform: uppercase;
        }
    }
}

.wrap {
    &-sample, &-how, &-faq, &-background {
        margin: 1em 0 5em;
        padding: 0 0 2em;
    }

    &-sample {
        background-color: lighten($bornColor, 20%);
    }

    &-how {
        background-color: lighten($diedColor, 20%);
    }

    &-faq {
        background-color: lighten($diedColor, 20%);
    }

    &-background {
        background-color: lighten($bizColor, 20%);
    }
}

header {
    background-color: $black;
    height: $headerHeight;
    color: $darkGray;
    padding: 8px;
    display: flex;
    @include flex-direction(row);
    @include align-items(center);
    border-top: 2px solid $nyplRed;

    @include media($tablet) {
        font-size: 12px;
    }

    a:link, a:visited, a:hover {
        color: $white;
    }
}

#nypl {
    @include drr-icon('');
    font-size: 30px;
    color: $white;
    margin-right: 10px;
}

#footer {
  margin: 20em 0 0 0;
  text-align: center;
  font-size: 0.8em;
  line-height: 1.4em;
  color: $darkGray;

  @media screen and (max-width: $mobile-breakpoint) {
    // margin-left: $radius*2;
    // margin-right: $radius*2;
    // text-align: center;
    // background-color: $bubblecolor;
    // border-radius: $radius;
    // padding: $radius;
  }

  p {
    @media screen and (max-width: $mobile-breakpoint) {
      width: auto;
      margin-left: 0;
    }
  }

  .nypl {
    color: $black;
    display: block;
  }

  .icon-icon_lion {
    color: $black;
    display: block;

    &:before {
      @include drr-icon("\4e");
      display: block;
      font-size: 30px;
      margin-bottom: 5px;
    }
  }

    @include media($tablet) {
        font-size: 0.5em;
    }
}

#feedback {
    position: fixed;
    bottom: $feedback-bottom;
    right: 0;
    z-index: 11111;
    background: white;
    width: $feedback-width;
    right: -($feedback-width+1);
    font-size: 16px;
    // line-height: 24px;
    border: 1px solid $gray;
    border-right: none;

    @media print {
        display: none;
    }

    @media screen and (min-width: 0px) and (max-width: $mobile-breakpoint) {
        border-color: $black;
        position: fixed;
        width: 100%;
        right: auto;
        bottom: -$feedback-height;
        height: $feedback-height + $button-height;
    }

    &.preload {
        right: -($feedback-width + $button-width);

        @media screen and (min-width: 0px) and (max-width: $mobile-breakpoint) {
            right: auto;
            bottom: -($feedback-height + $button-height);
        }
    }

    @include transition(all, .2s, ease-out);

    &.open {
        right: 0;

        @media screen and (min-width: 0px) and (max-width: $mobile-breakpoint) {
            right: auto;
            bottom: 0;
        }
    }

    #feedback-toggle {
        position: absolute;
        right: 300px;
        bottom: 0px;
        background-color: $gray;
        color: $white;

        @media screen and (min-width: 0px) and (max-width: $mobile-breakpoint) {
            position: static;
            width: 100%;
            text-align: center;
            height: $button-height;
            padding-top: $button-height * .2;
            // bottom: -$feedback-height;
        }

        a {
            display: none;
            padding: 10px 30px;
            // color: $white;

            &.visible {
                display: block;
            }

            // &.open {
            // }

            &.close {
                // padding: 10px 50px;
                white-space: nowrap;
            }

            // &:hover {
            //  text-decoration: none;
            //  background-color: $white;
            //  color: $gray;
            // }
            @media screen and (min-width: 0px) and (max-width: $mobile-breakpoint) {
             // font-size: 14px;
             padding: 3px; 
            }
        }
    }

    #feedback-form {
        margin: 10px;

        @media screen and (min-width: 0px) and (max-width: $mobile-breakpoint) {
            height: $feedback-height;
        }

        h2 {
            font-size: 20px;
            margin: 0;
        }

        ul {
            margin-bottom: 5px;

            li {
                display: inline-block;
                margin-right: 10px;
            }
        }

        .button {
            padding: 10px 20px;
            margin: 5px 0;
            display: inline-block;
            background-color: $linkColor;
            color: $white;
            // text-transform: uppercase;
        }

        input.textfield {
            font-size: 1em;
            font-family: $bodyFont;
            border: 1px solid $gray;
            padding: 10px;
            margin: 5px 0;
            width: $feedback-width - 42;
            display: inline-block;

            @media screen and (min-width: 0px) and (max-width: $mobile-breakpoint) {
                width: 100%;
            }
        }

        textarea {
            font-size: 1em;
            resize: none;
            padding: 10px 10px 0 10px;
            width: $feedback-width - 42;
            height: 90px;
            border: 1px solid $gray;
            border-bottom: none;
            margin-bottom: 0;
            font-family: $bodyFont;

            @media screen and (min-width: 0px) and (max-width: $mobile-breakpoint) {
                width: 100%;
            }

            &.error {
                color: $linkColor;
            }
        }

        #feedback-counter {
            color: $darkGray;
            text-align: right;
            padding: 0 10px 10px 10px;
            width: $feedback-width - 42;
            border: 1px solid $gray;
            border-top: none;

            @media screen and (min-width: 0px) and (max-width: $mobile-breakpoint) {
                width: 100%;
                margin-top: -5px;
            }
        }

        .controls {
            text-align: right;
        }
    }

    #feedback-wait {
        display: none;
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        background-color: rgba(0,0,0,0.75);
        color: $white;
        text-align: center;
        line-height: 260px;

        // .spinner {
        //     left: 50%;
        //     top: -100px;
        // }
    }

    #feedback-thanks {
        height: 100px;
        margin-top: 10px;
    }

    .step2 {
        display: none;
    }
}

// constituent page

main {
    margin: 2rem;
}

section {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 1rem;
    margin: 0 0 2rem 0;

    @include media ($tablet) {
        grid-template-columns: 1fr;
    }

    p {
        max-width: 40rem;
    }

    figure {
        margin: 0;
        grid-column: 1 / 2;

        @include media ($tablet) {
            grid-column: 1;
        }
    }

    figcaption {
        font-size: 0.7rem;
        line-height: 1.5;
    }

    h3 {
        grid-column: 1 / 2;

        @include media ($tablet) {
            grid-column: 1;
        }
    }

    .bio, ul, .locations {
        grid-column: 2 / 7;

        @include media ($tablet) {
            grid-column: 1;
        }
    }
}

.constituent-image {
    display: block;
    width: 100%;
    max-width: 20rem;
    filter: grayscale(1);
}

.locations {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(6, 1fr);

  @include media ($tablet) {
    grid-template-columns: 1fr;
  }

  .address {

  }

  h4 {
    font-family: $headerFont;
    line-height: 1.25;
  }

  p {
    line-height: 1.25;
    grid-column: 1 / 7;

      @include media ($tablet) {
        grid-column: 1;
      }
  }

  .map {
    background-color: $gray;

    img {
        width: 100%;

        @include media ($tablet) {
          max-width: 200px;
        }
    }
  }
}

.pic_id {
  display: inline-block;
  width: 5rem;
}

.constituent_list {
  grid-column: 1 / 7;
  margin: 2rem 0 0 0;
}

.alpha_list {
  margin: 2rem 0 0 0;
}

.pagination {
  display: flex;

  &::before {
    content: 'Page: ';
    display: inline-block;
    margin: 0 0.5rem 0 0;
  }

  &.letter::before {
    content: 'Letter: ';
    display: inline-block;
    margin: 0 0.5rem 0 0;
  }

  li {
    &::after {
      content: '|';
      display: inline-block;
      margin: 0 0.5rem;
    }

    &:last-child::after {
      display: none;
    }
  }
}