$headerHeight: 50px;
$facetsWidth: 20%;
$resultsWidth: 30%;
$columnMargin: 30px;
$facetMargin: 5px;
$minimizedWidth: 60px;
$minimizedHeight: 60px;
$iconSize: 30px;

$feedback-width: 300px;
$feedback-height: 275px;
$feedback-bottom: 0;
$mobile-breakpoint: 800px;
$button-width: 200px;
$button-height: 35px;

@font-face{
    font-family:"kievit font";
    font-style:normal;
    font-weight:800;
    src:url("http://ux-static.nypl.org.s3-website-us-east-1.amazonaws.com/ff_kievit_web/KievitWeb-Light.woff") format('woff');}

@font-face{
    font-family:"milo font";
    font-style:normal;
    font-weight:800;
    src:url("http://ux-static.nypl.org.s3-website-us-east-1.amazonaws.com/milo-web/milo-slab-pro-medium/MiloSlabWebPro-Medium.woff") format('woff');}

$bodyFont: "kievit font", "Helvetica Neue", Helvetica, Arial, sans-serif;
$headerFont: "milo font", "Helvetica Neue", Helvetica, Arial, sans-serif;
$white: #efefef;
$whiter: lighten($white, 10%);
$gray: #eee;
$darkGray: darken($gray, 30%);
$black: #222;
$linkColor: #900;
$generalMargin: 10px;
$nyplRed: #ed1c24;