$facetsWidth: 20%;
$resultsWidth: 30%;
$columnMargin: 30px;
$facetMargin: 5px;
$minimizedWidth: 60px;
$minimizedHeight: 60px;
$iconSize: 30px;

$feedback-width: 300px;
$feedback-height: 275px;
$feedback-bottom: 0;
$mobile-breakpoint: 800px;
$button-width: 200px;
$button-height: 35px;
