$headerHeight: 50px;
$facetsWidth: 20%;
$resultsWidth: 30%;
$columnMargin: 30px;
$facetMargin: 5px;
$minimizedWidth: 60px;
$minimizedHeight: 60px;
$iconSize: 30px;

$feedback-width: 300px;
$feedback-height: 275px;
$feedback-bottom: 0;
$mobile-breakpoint: 800px;
$button-width: 200px;
$button-height: 35px;

@font-face{
    font-family:"kievit font";
    font-style:normal;
    font-weight:800;
    src:url("https://d2znry4lg8s0tq.cloudfront.net/ff_kievit_web/KievitWeb-Light.woff") format('woff');}

@font-face{
    font-family:"milo font";
    font-style:normal;
    font-weight:800;
    src:url("https://d2znry4lg8s0tq.cloudfront.net/milo-web/milo-slab-pro-medium/MiloSlabWebPro-Medium.woff") format('woff');}

$bodyFont: "kievit font", "Helvetica Neue", Helvetica, Arial, sans-serif;
$headerFont: "milo font", "Helvetica Neue", Helvetica, Arial, sans-serif;
$white: #efefef;
$whiter: lighten($white, 10%);
$gray: #eee;
$darkGray: darken($gray, 30%);
$black: #222;
$linkColor: #900;
$generalMargin: 10px;
$nyplRed: #ed1c24;

$bizColor: rgba(255, 127, 2, 1);
$bornColor: rgba(76, 173, 73, 1);
$diedColor: rgba(53, 124, 183, 1);
$activeColor: rgba(226, 25, 25, 1);
